/*variables couleurs*/

$red: #FF6060;

/*variables font*/

$font1: 'Montserrat';

/*styles*/

body {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    flex: auto;
    gap: 57px;

    & a {
        text-decoration: none;
        color: $red;
        font-family: $font1;
        font-size: 24px;
    
        &:hover {
            text-decoration: underline;
        }
    }
}