/*variables couleurs*/

$red: #FF6060;

/*variables font*/

$font1: 'Montserrat';

/*styles*/

body {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    @media (max-width : 950px) {
        margin-top: 20px;
        margin-bottom: 27px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .logo {
        @media (max-width : 950px) {
            width: 145px;
        }
    }

    .nav {
        display: flex;
        justify-content: flex-end;
        flex: auto;
        gap: 57px;
        @media (max-width : 950px) {
            gap: 26px;
        }

        & a {
            text-decoration: none;
            color: $red;
            font-family: $font1;
            font-size: 24px;
            @media (max-width : 950px) {
                font-size: 12px;
            }
    
            &:hover {
                text-decoration: underline;
            }
        }
    }
}