@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald&display=swap');

/*variables font*/

$font1: 'Montserrat';

/*styles*/

.div-cards {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    border-radius: 25px;
    margin-top: 43px;
    margin-bottom: 50px;
    padding: 50px;
    gap: 50px 60px;
    @media (max-width : 950px) {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 22px;
        margin-bottom: 27px;
        background-color: white;
        padding: 0px;
    }

    figure {
        position: relative;
        margin: 0;
        width: 30%;
    }

    .img-cards {
        width: 340px;
        height: 340px;
        border-radius: 10px;
        object-fit: cover;
        filter: brightness(0.8);
    }

    .title-cards {
        position: absolute;
        bottom: 20px;
        left: 20px;
        text-decoration: none;
        color:white;
        font-family: $font1;
        font-size: 18px;
    }
}