@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald&display=swap');

/*variables font*/

$font1: 'Montserrat';

/*styles*/

.div-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #F6F6F6;
    border-radius: 25px;
    margin-top: 43px;
    margin-bottom: 50px;
    padding: 56px 50px;
}

figure {
    margin-bottom: 50px;
}

.img-cards {
    position: relative;
    width: 340px;
    height: 340px;
    object-fit: cover;
}

.title-cards {
    position: absolute;
    z-index: 1;
    text-decoration: none;
    /*color:white;*/
    font-family: $font1;
    font-size: 18px;
}