@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald&display=swap');

/*variables couleurs*/

$red: #FF6060;

/*variables font*/

$font1: 'Montserrat';

/*styles*/

.liste-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 38px;
    margin-bottom: 38px;
    @media (max-width : 950px) {
        margin-left: 20px;
        margin-right: 20px;
    }
}


    .listes {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        @media (max-width : 950px) {
            width: 100%;
        }

    }

    .titre {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin: 0px;
        border-radius: 5px;
        background-color: $red;
        width: 100%;
        color: white;
        font-family: $font1;
        font-size: 18px;
        padding: 10px 0px 10px 15px;
        @media (max-width : 950px) {
            font-size: 13px;
            padding: 0px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

    }

    .arrow-up {
        cursor: pointer;
        position: absolute;
        right: 20px;
        transition : transform 500ms;
        transform : rotate(180deg);
    
        &-close {
            cursor: pointer;
            position: absolute;
            right: 20px;
            transition : transform 500ms;
            transform : rotate(0deg);
            color: black;
        }
    }


    .text {
        width: 100%;
        background-color: #F6F6F6;
        color: $red;
        border-radius: 5px;
        padding: 20px 10px 20px 10px;
        margin-top: 0px;
        font-family: $font1;
        font-size: 16px;
        opacity: 1;
        transition: 0.5s;
        @media (max-width : 950px) {
            font-size: 10px;
            width: 100%;
        }
    

        &-hidden {
            background-color: #F6F6F6;
            color: $red;
            font-family: $font1;
            opacity: 0;
            height: 0;
            transition: 0.5s;
            margin: 0;
            font-size: 16px;
            @media (max-width : 950px) {
                font-size: 10px;
                width: 100%;
            }
        }
    }